spring:
  application:
    name: peminjaman-service
  data:
    mongodb:
      uri: mongodb://admin:password@mongo-db:27017/peminjaman_query_db?authSource=admin
  datasource:
    url: jdbc:h2:file:/data/peminjaman;DB_CLOSE_DELAY= -1
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    template:
      exchange: peminjaman.exchange
    listener:
      simple:
        default-requeue-rejected: false
  mail:
    host: "smtp.gmail.com"
    port: "587"
    username: "rmaisshadiq@gmail.com"
    password: "whvhsimthhcyfwpv"
    properties:
      "[mail.smtp.connectiontimeout]": 5000
      "[mail.smtp.timeout]": 3000
      "[mail.smtp.writetimeout]": 5000
      "[mail.smtp.auth]": true
      "[mail.smtp.starttls.enable]": true
  
logging:
  file:
    name: peminjaman.log
    path: /opt/logs/
  

app:
  rabbitmq:
    queue: peminjaman.queue
    exchange: peminjaman.exchange
    routing-key: peminjaman.routing.key
  
server:
  port: 8083


eureka:
    client:
        register-with-eureka: true
        fetch-registry: true
        service-url:
            defaultZone: http://eureka-server:8761/eureka/
    instance:
        prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus # Izinkan prometheus masuk
  endpoint:
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name} # Biar ketauan ini data dari servis mana