spring:
  application:
    name: customer-service
server:
  port: 8081

eureka:
    client:
        register-with-eureka: true
        fetch-registry: true
        service-url:
            defaultZone: http://eureka-server:8761/eureka/
    instance:
        prefer-ip-address: true